.WEnote {margin: 2px;}
.WEnotebody {margin-left: 53px;}
.WEnotepic {float: left; width: 48px;}
.WEnotepic img {border-radius: 3px; float: right; border: none;}
.WEnoteuser {color:#999}
.WEnotesub {color:#999; font-size: smaller;}
.WEnotes a[href^="https://"] {background: none!important;}
.WEnoteReply {margin-left: 53px;}

.WEnotesMore {margin-left:53px;}
.WEnotesMore img {display: none!important; margin-left: 20px; width: 16px; height: 16px;}

.icon-mail-reply, .icon-th-list, .icon-star, .icon-star-empty {
  cursor: pointer;}

